* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
}

body {
  background-color: black;
  overflow: hidden;
}

.heroes-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.lside {
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #ffffff;
  transition: all 0.7s 0.5s ease-in-out;
  z-index: 1;
  animation: lside 0.5s ease-out;
}

@keyframes lside {
  from {
    width: 50%;
  }
  to {
    width: 0;
  }
}

.rside {
  width: 0%;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  transition: all 0.7s 0.5s ease-in-out;
  z-index: 1;
  animation: rside 0.5s ease-out;
}

@keyframes rside {
  from {
    width: 50%;
  }
  to {
    width: 0;
  }
}

.heroes-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  background-image: url("assets/image/background_image/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  filter: grayscale(100%);
}

.heroes-overlay {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  opacity: 0.8;
  z-index: -1;
}

.heroes-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.heroes-wrapper h1 {
  padding-top: 20px;
  color: #c9082a;
  font-family: "Anta", sans-serif;
  font-size: 70px;
  font-weight: 900;
  font-style: normal;
  position: absolute;
  top: 85%;
  left: 30%;
  transform: translate(-50%, -50%);
  user-select: none;
  animation: changecolor 1s 0.5s linear infinite alternate-reverse;
}

.heroBriefbackground {
  position: absolute;
  top: 68%;
  left: 5%;
  font-size: 12px;
  color: #fff;
}

@keyframes changecolor {
  0% {
    color: #c9082a;
  }
  100% {
    color: #ff0000;
  }
}

.heroes {
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  user-select: none;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  padding: 0.5rem;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}

.heroes span {
  background-image: url("../../assets/image/logo/logonibai.jpg");
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  background-repeat: no-repeat;
  object-fit: cover;
  border: 1px solid #fff;
  transition: transform 0.2s ease;
}

.heroes span:hover {
  transform: scale(1.030);
  box-shadow: 0 0 5px 0 #fff;
  border: solid 2px #fff;
}

.heroes span div {
  background-color: #17408b;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
  opacity: 0.3;
  transition: all 0.2s ease;
}

.heroes span div:hover {
  background: none;
}

.heroes span:nth-child(1) {
  background-image: url("../../assets/image/characters/character001/joemel.jpg");
}
.heroes span:nth-child(2) {
  background-image: url("../../assets/image/characters/character002/jim.jpg");
}
.heroes span:nth-child(3) {
  background-image: url("../../assets/image/characters/character003/gab.jpg");
}
.heroes span:nth-child(4) {
  background-image: url("../../assets/image/characters/character004/maykol.jpg");
}
.heroes span:nth-child(5) {
  background-image: url("../../assets/image/characters/character005/marvin.jpg");
}
.heroes span:nth-child(6) {
  background-image: url("../../assets/image/characters/character006/ronald.jpg");
}
.heroes span:nth-child(7) {
  background-image: url("../../assets/image/characters/character007/edward.jpg");
}
.heroes span:nth-child(8) {
  background-image: url("../../assets/image/characters/character008/jonass.jpg");
}
.heroes span:nth-child(9) {
  background-image: url("../../assets/image/characters/character009/xander.jpg");
}
.heroes span:nth-child(10) {
  background-image: url("../../assets/image/characters/character010/neil.jpg");
}
.heroes span:nth-child(11) {
  background-image: url("../../assets/image/characters/character011/gabo.jpg");
}
.heroes span:nth-child(12) {
  background-image: url("../../assets/image/characters/character012/ryan.jpg");
}
.heroes span:nth-child(13) {
  background-image: url("../../assets/image/characters/character013/charlie.jpg");
}
.heroes span:nth-child(14) {
  background-image: url("../../assets/image/characters/character014/vergel.jpg");
}
.heroes span:nth-child(15) {
  background-image: url("../../assets/image/characters/character015/jeco.jpg");
}
.heroes span:nth-child(16) {
  background-image: url("../../assets/image/characters/character016/gelo.jpg");
}
.heroes span:nth-child(17) {
  background-image: url("../../assets/image/characters/character017/tian.jpg");
}
.heroes span:nth-child(18) {
  background-image: url("../../assets/image/characters/character018/erik.jpg");
}
.heroes span:nth-child(19) {
  background-image: url("../../assets/image/characters/character019/jus.jpg");
}
.heroes span:nth-child(20) {
  background-image: url("../../assets/image/characters/character020/jm.jpg");
}
.heroes span:nth-child(21) {
  background-image: url("../../assets/image/logo/logonibai01.png");
}

.heroCharacter {
  width: 50%;
  height: 400px;
  border-bottom: 5px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease;
  background-size: cover;
  background-position: center;
}

.hero {
  width: 250px;
  height: 350px;
  opacity: 1;
  background-size: cover;
  z-index: 1;
  position: absolute;
  bottom: 0;
}

.hero:nth-child(19) {
  width: 500px;
}

.hero.fade-in {
  animation: fadein 0.2s ease;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.name {
  text-shadow: -5px -5px 0 #c9082a, 5px -5px 0 #17408b, -5px 5px 0 #c9082a,
    5px 5px 0 #17408b;
  color: #fff;
  position: absolute;
  left: 20px;
  bottom: 5px;
  font-family: "anta", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  user-select: none;
  letter-spacing: 5px;
  opacity: 0;
  transition: opacity 0.2s ease;
  font-size: 80px;
  z-index: 5;
}

.roleContainer {
  width: 35%;
  z-index: 5;
  padding-left: 1rem;
  position: absolute;
  left: 20px;
  bottom: 27%;
  transition: opacity 0.2s ease;
}

.role {
  color: #c9082a;
  font-size: 15px;
  font-family: "anta", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  user-select: none;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.effects {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s;
  object-fit: cover;
  opacity: 1;
}

.jimbg {
  width: 50%;
  height: 80%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s;
  object-fit: cover;
  opacity: 1;
}

.joemelWeapon {
  width: 30%;
  height: 90%;
  position: absolute;
  top: 15%;
  left: 35%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s;
  object-fit: cover;
  opacity: 1;
  transform: rotate(30deg);
  animation: weaponGlow 3s infinite alternate-reverse;
}

@keyframes weaponGlow {
  0% {
    filter: drop-shadow(0 0 10px red) drop-shadow(0 0 20px red);
  }
  100% {
    filter: drop-shadow(0 0 10px yellow) drop-shadow(0 0 20px yellow);
  }
}

.gabWeapon {
  width: 40%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s;
  object-fit: cover;
  opacity: 1;
  transform: rotate(15deg);
  animation: weaponGab 3s infinite alternate-reverse;
}

@keyframes weaponGab {
  0% {
    filter: drop-shadow(0 0 10px white) drop-shadow(0 0 20px white);
  }
  100% {
    filter: drop-shadow(0 0 10px yellow) drop-shadow(0 0 20px yellow);
  }
}

.maykelWeapon {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s;
  object-fit: cover;
  opacity: 1;
  transform: rotate(300deg);
  animation: weaponMaykel 3s infinite alternate-reverse;
}

@keyframes weaponMaykel {
  0% {
    filter: drop-shadow(0 0 5px black) drop-shadow(0 0 10px black);
  }
  100% {
    filter: drop-shadow(0 0 5px white) drop-shadow(0 0 10px white);
  }
}

.maykelWeaponOne {
  width: 10%;
  height: 20%;
  position: absolute;
  top: 55%;
  left: 52%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s;
  object-fit: cover;
  opacity: 1;
  z-index: 5;
  animation: weaponMaykelOne 3s infinite;
}

.maykelWeaponTwo {
  width: 10%;
  height: 20%;
  position: absolute;
  top: 55%;
  left: 39%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s;
  object-fit: cover;
  opacity: 1;
  z-index: 5;
  animation: weaponMaykelOne 3s infinite;
}

@keyframes weaponMaykelOne {
  0% {
    filter: drop-shadow(0 0 5px black) drop-shadow(0 0 10px black);
    transform: rotate(0deg);
  }
  100% {
    filter: drop-shadow(0 0 5px #580c0c) drop-shadow(0 0 10px #580c0c);
    transform: rotate(360deg);
  }
}

.heroBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: center center / cover no-repeat;
  opacity: 0.5;
  transition: opacity 0.5s;
  pointer-events: none;
}

.select {
  width: 200px;
  height: 30px;
  text-transform: uppercase;
  background-color: #c9082a;
  color: #fff;
  border: none;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 800;
  transition: all 0.3s;
  position: absolute;
  bottom: 15px;
  right: 150px;
  display: none;
}

.select:after {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1.5px solid #ffffff00;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
  width: 0;
}

.select:hover:after {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 250ms ease-in-out;
  transition: width 250ms ease-in-out;
  width: 198px;
}

.select:hover:before {
  bottom: 10px;
  width: 100%;
}

.select:hover {
  background-color: #ff0000;
  color: #fff;
  font-size: 18px;
}

.select:active {
  background-color: #17408b;
}

.back {
  width: 200px;
  height: 30px;
  text-transform: uppercase;
  background-color: #c9082a;
  color: #fff;
  border: none;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 800;
  transition: all 0.3s;
  position: absolute;
  bottom: 15px;
  right: 150px;
}

.back:after {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1.5px solid #ffffff00;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
  width: 0;
}

.back:hover:after {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 250ms ease-in-out;
  transition: width 250ms ease-in-out;
  width: 198px;
}

.back:hover:before {
  bottom: 10px;
  width: 100%;
}

.back:hover {
  background-color: #ff0000;
  color: #fff;
  font-size: 18px;
}

.back:active {
  background-color: #17408b;
}

@media only screen and (max-width: 576px) {
  .heroes {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 87%;
    height: 80px;
    display: inline;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    overflow: none;
    border: none;
    padding: 0;
  }

  .heroes span {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-right: 5px;
    margin-top: 5px;
    background-size: 70px 70px;
  }

  .heroes span:nth-child(1) {
    margin-left: 5px;
  }

  .heroCharacter {
    width: 90%;
    height: 400px;
    border-bottom: 5px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease;
    background-size: cover;
    background-position: center;
  }

  .select {
    position: absolute;
    top: 93%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 30px;
    font-size: 12px;
    display: block;
  }

  .select:hover:after {
    width: 147px;
  }

  .select:hover:after {
    width: 98px;
  }

  .select:hover {
    background-color: #ff0000;
    color: #fff;
    font-size: 14px;
  }

  .back {
    position: absolute;
    top: 93%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 30px;
    font-size: 12px;
  }

  .back:hover:after {
    width: 147px;
  }

  .back:hover:after {
    width: 98px;
  }

  .back:hover {
    background-color: #ff0000;
    color: #fff;
    font-size: 14px;
  }

  .heroes-wrapper h1 {
    width: 250px;
    padding-top: 20px;
    font-size: 25px;
    top: 68%;
    left: 50%;
    text-align: center;
  }

  .heroBriefbackground {
    position: absolute;
    top: 38%;
    left: 0%;
    font-size: 10px;
    padding-inline: 30px;
    padding-block: 5px;
    background-color: #00000052;
  }

  .name {
    color: #fff;
    position: absolute;
    left: 10px;
    bottom: 5px;
    font-family: "anta", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    user-select: none;
    letter-spacing: 5px;
    opacity: 0;
    transition: opacity 0.1s ease;
    font-size: 40px;
    z-index: 5;
  }

  .roleContainer {
    width: 60%;
    z-index: 5;
    padding-left: 1rem;
    position: absolute;
    left: 10px;
    bottom: 17%;
    transition: opacity 0.2s ease;
  }

  .role {
    color: #c9082a;
    font-size: 10px;
    font-family: "anta", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    user-select: none;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  .backgroundImg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    transition: background-image 0.1s;
    object-fit: cover;
    opacity: 1;
  }

  .fireEffect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../assets/image/background_image/joemelbg.jpg") center
      center / cover no-repeat;
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
  }

  .jimbg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s;
    object-fit: cover;
    opacity: 1;
  }

  .joemelWeapon {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 12%;
    left: 0%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s;
    object-fit: cover;
    opacity: 1;
    transform: rotate(30deg);
  }
  
  .gabWeapon {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 0%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s;
    object-fit: cover;
    opacity: 1;
    transform: rotate(15deg);
    animation: weaponGab 3s infinite alternate-reverse;
  }
  
  .maykelWeapon {
    width: 100%;
    height: 60%;
    position: absolute;
    top: 25%;
    left: 10%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s;
    object-fit: cover;
    opacity: 1;
    transform: rotate(310deg);
    animation: weaponMaykel 3s infinite alternate-reverse;
  }

  .maykelWeaponOne {
    width: 15%;
    height: 15%;
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s;
    object-fit: cover;
    opacity: 1;
    z-index: 5;
    animation: weaponMaykelOne 3s infinite;
  }
  
  .maykelWeaponTwo {
    width: 15%;
    height: 15%;
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s;
    object-fit: cover;
    opacity: 1;
    z-index: 5;
    animation: weaponMaykelOne 3s infinite;
  }
}
