* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
}

body {
  background-color: #000;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container .wrapper {
  width: 100%;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.lside {
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #ffffff;
  z-index: 1;
  animation: lside 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@keyframes lside {
  from {
    width: 50%;
  }
  to {
    width: 0;
  }
}

.rside {
  width: 0;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  z-index: 1;
  animation: rside 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@keyframes rside {
  from {
    width: 50%;
  }
  to {
    width: 0;
  }
}

.container .wrapper .background {
  width: 100%;
  height: 100%;
}

.container .wrapper .background img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: blur(3px);
}

.container .wrapper .background .overlay {
  opacity: 0.5;
}

.container .wrapper .overlay {
  width: 100%;
  height: 100%;
  background-color: #2e2929;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
}

.container .wrapper .character {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  animation: joemel 0.5s ease-in;
  filter: brightness(1.2) contrast(1.2);
}

.container .wrapper .character img {
  width: 450px;
  height: auto;
  position: absolute;
  bottom: 0;
  animation: nen 0.6s 1s infinite;
}

@keyframes nen {
  from {
    filter: drop-shadow(0px 0px 0px #ff0000);
  }
  to {
    filter: drop-shadow(0px 0px 20px #ffd64f);
  }
}

@keyframes joemel {
  from {
    top: 600px;
  }
  to {
    top: 0;
  }
}

.container .wrapper .characterInfo {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
}

.container .wrapper .characterInfo .about h1 {
  font-size: 20px;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 1;
  font-weight: 700;
  position: absolute;
  top: 5%;
  left: 0;
}

.container .wrapper .characterInfo .about .history {
  width: 100%;
  height: 30%;
  background-color: transparent;
  font-size: 14px;
  color: #fff;
  letter-spacing: 2px;
  text-transform: capitalize;
  line-height: 1.6;
  padding-left: 1rem;
  padding-top: 1rem;
  z-index: 1;
  position: absolute;
  top: 10%;
  left: 0;
  overflow-y: scroll;
}

.container .wrapper .characterInfo .skills {
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 40%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 2rem;
}

.container .wrapper .characterInfo .skills h1 {
  font-size: 20px;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 1;
  font-weight: 700;
  position: absolute;
  top: 5%;
  left: 0;
}

.container .wrapper .characterInfo .skills div {
  width: 60px;
  height: 60px;
  background-color: #c9082a;
  border-radius: 50%;
  margin-inline: 1rem;
  margin-top: 3rem;
  border: 2px solid #fff;
}

.container .wrapper .characterInfo .skills .skillInfo {
  width: 50%;
  height: 100%;
  background-color: transparent;
  border-radius: 0;
  margin-inline: 1rem;
  margin-top: 3rem;
  border: none;
  padding: 0.5rem;
  color: #fff;
  letter-spacing: 2px;
  line-height: 1.8;
  font-size: 14px;
  text-transform: capitalize;
  overflow-y: scroll;
  z-index: 2;
  position: absolute;
  right: 0;
}

.container .wrapper .characterInfo .skills .skillInfo h3 {
  text-transform: uppercase;
  font-weight: 700;
}

.container .wrapper .characterInfo .skills .skillInfo h4 {
  text-transform: uppercase;
  font-weight: 500;
}

.container .wrapper .characterInfo .skills .skillInfo p {
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 1rem;
  text-transform: capitalize;
}

.container .wrapper .characterInfo .information {
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
}

.container .wrapper .characterInfo .information h3 {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 6px 6px #00000080;
  color: #fff;
  line-height: 5;
}

.container .wrapper .characterInfo .information h1 {
  text-shadow: -5px -5px 0 #c9082a, 5px -5px 0 #17408b, -5px 5px 0 #c9082a,
    5px 5px 0 #17408b;
  color: #ffffff;
  font-size: 150px;
  font-weight: 900;
  text-indent: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 0.5;
}

.back {
  width: 200px;
  height: 30px;
  text-transform: uppercase;
  background-color: #c9082a;
  color: #fff;
  border: none;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 800;
  transition: all 0.3s;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.back:after {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1.5px solid #ffffff00;
  bottom: -4px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
  width: 0;
}

.back:hover:after {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 250ms ease-in-out;
  transition: width 250ms ease-in-out;
  width: 198px;
}

.back:hover:before {
  bottom: -10px;
  width: 100%;
}

.back:hover {
  background-color: #ff0000;
  color: #fff;
  font-size: 18px;
}

.back:active {
  background-color: #17408b;
}

@media only screen and (max-width: 576px) {
  body {
    background-color: #000;
    overflow: scroll;
  }

  .container {
    height: 100vh;
    overflow: scroll;
  }

  .container .wrapper .character {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: joemel 0.5s ease-in;
    filter: brightness(1.2) contrast(1.2);
  }

  .container .wrapper .character img {
    width: 360px;
    height: auto;
    bottom: 0;
    animation: nen 0.6s 1s infinite;
  }

  .container .wrapper .characterInfo {
    width: 100%;
    height: 100%;
  }

  .container .wrapper .characterInfo .information {
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: 0;
    text-align: center;
  }

  .container .wrapper .characterInfo .information h3 {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 6px 6px #00000080;
    color: #fff;
    line-height: 3;
  }

  .container .wrapper .characterInfo .information h1 {
    text-shadow: -5px -5px 0 #c9082a, 5px -5px 0 #17408b, -5px 5px 0 #c9082a,
      5px 5px 0 #17408b;
    color: #ffffff;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 0.5;
    text-align: center;
    text-indent: 0;
  }

  .back {
    width: 200px;
    height: 30px;
    text-transform: uppercase;
    background-color: #c9082a;
    color: #fff;
    border: none;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 800;
    transition: all 0.3s;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  .container .wrapper .characterInfo .about h1 {
    margin-top: 750px;
    margin-left: 1rem;
  }

  .container .wrapper .characterInfo .about .history {
    margin-top: 750px;
    height: 500px;
  }

  .container .wrapper .characterInfo .skills h1 {
    margin-top: 1050px;
    margin-left: 1rem;
  }

  .container .wrapper .characterInfo .skills div {
    margin-inline: 0.5rem;
    border: 2px solid #fff;
    margin-top: 2150px;
  }

  .container .wrapper .characterInfo .skills .skillInfo {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 0;
    margin-top: 3rem;
    border: none;
    padding-left: 1rem;
    color: #fff;
    letter-spacing: 2px;
    line-height: 1.8;
    font-size: 14px;
    text-transform: capitalize;
    margin-inline: 0.5rem;
    margin-top: 2400px;
    overflow: visible;
  }

  .container .wrapper .characterInfo .skills .skillInfo h3 {
    text-transform: uppercase;
    font-weight: 700;
  }

  .container .wrapper .characterInfo .skills .skillInfo h4 {
    text-transform: uppercase;
    font-weight: 500;
  }

  .container .wrapper .characterInfo .skills .skillInfo p {
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 1rem;
    text-transform: capitalize;
    padding-bottom: 2em;
  }
}
